{% extends 'base.html.twig' %}

{% block body %}
<div class="nav-container">
    <div class="navigation">
        <div class="nav-element"><a href="{{ path('manager') }}">Manager</a></div>
        <div class="nav-element"><a href="{{ path('customers') }}">Klanten</a></div>
        <div class="nav-element"><a href="{{ path('app_logout') }}">Uitloggen</a></div>
   </div>
</div>

<a href="#">Add timesheet</a>
<ul>
    
    <li>Created by {{ timesheet.id }}</li>
    <li>Customer is: {{ timesheet['customer_id'] }}</li>
    {# <li>Time worked: {{ date(timesheet[0]start_date).diff(date(timesheet[0]end_date)) }}</li> #}
    <li>Pauze: {{ timesheet.pauze }} minutes</li>
    <li>Time worked (Pauze excluded): {{ timesheet['end_date'].diff(timesheet['start_date'])|date('%h hours and %m minutes') }}</li>
    <li>Activities: {{ timesheet['activities'] }}</li>
    <li><a href="#">Save</a></li>
</ul>


{% endblock %}
