<div class="nav-container">
    <div class="navigation">
        <div class="nav-element"><a href="{{ path('manager') }}">Manager</a></div>
        <div class="nav-element"><a href="{{ path('customers') }}">Klanten</a></div>
        <div class="nav-element"><a href="{{ path('app_logout') }}">Uitloggen</a></div>
        {# <div class="nav-element"><a href="{{ path('manager') }}">Dashboard</a></div>
        <div class="nav-element"><a href="{{ path('app_login') }}">Login</a></div>
        <div class="nav-element"><a href="{{ path('app_logout') }}">Logout</a></div> #}
    </div>
</div>
